# Build directories
build-host/
build-android/

#include
third_party/

# Keys (NEVER commit)
keys/


# IDE
.vscode/
.idea/
.vs
*.user
*.suo
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CMake
CMakeCache.txt
CMakeListsLinux.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
